<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Документы и отчеты" parallel="classes" thread-count="3" verbose="3" configfailurepolicy="continue">

    <test name="eDocReportTest">
        <classes>
            <class name="tests.DropDownRunner"/>
            <class name="tests.ReportFormRunner"/>
            <class name="tests.ReportTypesRunner"/>
            <class name="tests.ReportTypesWorkRunner"/>
        </classes>
    </test>

    <test name="eDocReportTestSecond">
        <classes>
            <class name="tests.TestDelete"/>
        </classes>
    </test>

</suite>
